@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles in your global CSS file or a CSS module */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.icon-enter {
  animation: fadeIn 0.3s forwards;
}

.icon-exit {
  animation: fadeOut 0.3s forwards;
}
